#themecolors a {
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}
.w70 {
  width: 70px;
}
.w150 {
  margin-bottom: 5px;
  width: 150px;
}
.img-50 {
  width: 50px;
}
.alignCenter {
  text-align: center;
}
.fondo-negro {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9999;
}
.hide {
  display: none;
}
